<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" th:href="@{/images/celloicon.png}" type="">

    <title> Philarmonic </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet" />

</head>

<body>

<div class="hero_area">
    <div class="bg-box">
        <img th:src="@{/images/mainPage.jpg}" alt="">
    </div>
    <!-- header section starts -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="\index">
                        <span>
                            Philharmonic
                        </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item">
                            <a class="nav-link active" href="\main_admin">MAIN PAGE <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="\edit_users">EDIT USERS </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="\edit_employee">EDIT EMPLOYEES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="\edit_event">EDIT EVENTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">LOGOUT</a>
                        </li>
                        <li><a class="btn btn-warning" th:href="@{/index}">TO MAIN PAGE</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->

    <!-- The rest of your body content will go here -->
    <!-- ... -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-r
             ide="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Friedrich Nietzsche
                                    </h1>
                                    <p>
                                        "Without music, life would be a mistake."
                                    </p>
                                    <div class="btn-box">
                                        <a href="\events" class="btn1">
                                            See events
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Pablo Casals
                                    </h1>
                                    <p>
                                        "Music is the divine way to tell beautiful, poetic things to the heart."
                                    </p>
                                    <div class="btn-box">
                                        <a href="\events" class="btn1">
                                            See events
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Henry Wadsworth Longfellow
                                    </h1>
                                    <p>
                                        "Music is the universal language of mankind."                    </p>
                                    <div class="btn-box">
                                        <a href="\events" class="btn1">
                                            See events
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>
        </div>

    </section>


</div>

<!-- The rest of your HTML content will go here -->
<!-- ... -->

<!-- jQery -->
<script th:src="@{js/jquery-3.4.1.min.js}"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script th:src="@{js/bootstrap.js}"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script th:src="@{js/custom.js}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>

</html>
