<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" th:href="@{/images/celloicon.png}" type="">

    <title> Main User page </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet" />

</head>
<body>
<div class="hero_area">

    <div class="bg-box">
        <img th:src="@{/images/mainPage.jpg}" alt="">
    </div>

<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="\index">
                        <span>
                            Philharmonic
                        </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index}">Home</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">Main
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b>
                            <span th:text="${session.loggedInUser}"></span></b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">logout</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="container">
    <div class="row">

        <div class="col-md-10 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <label style="font-size:30px; color: white" th:inline="text">Welcome <a
                            style="color:lightskyblue; text-transform:capitalize"><b><span th:text="${customer.name} " ></span> <span th:text="${customer.surname}"></span></b></a>
                        to the main page!</label>
                </div>
            </form>


            <!-- Form for editing customer details -->
            <form th:action="@{/updateCustomer}" th:object="${customer}" method="post">
                <div class="form-group">
                    <label for="email" style="color: white">Email:</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}"  readonly required/>
                </div>
                <div class="form-group">
                    <label for="name" style="color: white">Name:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" maxlength="20" required/>
                </div>

                <div class="form-group">
                    <label for="surname" style="color: white">Surname:</label>
                    <input type="text" class="form-control" id="surname" th:field="*{surname}" maxlength="30" required/>
                </div>

                <div class="form-group">
                    <label for="phoneNumber" style="color: white">Phone number:</label>
                    <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" maxlength="15" required/>
                </div>

                <div class="form-group">
                    <label for="personalNumber" style="color: white">Personal number:</label>
                    <input type="text" class="form-control" id="personalNumber" th:field="*{personalNumber}" maxlength="11" required/>
                </div>

                <div class="form-group">
                    <label for="street" style="color: white">Street:</label>
                    <input type="text" class="form-control" id="street" th:field="*{street}"  maxlength="100" required/>
                </div>
                <div class="form-group">
                    <label for="localNumber" style="color: white">Local number:</label>
                    <input type="text" class="form-control" id="localNumber" th:field="*{localNumber}" maxlength="6" required/>
                </div>
                <div class="form-group">
                    <label for="postcode" style="color: white">Postcode:</label>
                    <input type="text" class="form-control" id="postcode" th:field="*{postcode}" maxlength="6" required/>
                </div>
                <div class="form-group">
                    <label for="role" style="color: white"></label>
                    <input type="hidden" class="form-control" id="role" th:field="*{role}"  readonly required/>
                </div>
                <div class="form-group">
                    <label for="password" style="color: white"></label>
                    <input type="hidden" class="form-control" id="password" th:field="*{password}" readonly required/>
                </div>

                <!-- Add similar fields for other customer details -->

                <button type="submit" class="btn btn-primary" style="float: left;">Save Changes</button>
            </form>




        </div>
        <div class="table-responsive col-md-10 mt-5">
            <table class="table table-bordered table-light">
                <label style="font-size:30px; color: white" th:inline="text">Your tickets: </label>
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Row Number</th>
                    <th>Place Number</th>
                    <th>Price</th>
                    <th>Event Information</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.type}" style="color: #000;"></td>
                    <td th:text="${ticket.rowNumber}" style="color: #000;"></td>
                    <td th:text="${ticket.placeNumber}" style="color: #000;"></td>
                    <td th:text="${ticket.price}" style="color: #000;"></td>
                    <td>
                        <h6 th:text="${ticket.event.name}" style="color: #000;"></h6>
                        <p th:text="${ticket.event.date}" style="color: #000;"></p>
                        <!-- Add more event information as needed -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>



</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>


<script>
    function setRegisteredFalse() {
        registered = false;
    }
</script>

</body>
</html>