<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main User Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/static">BDBT Spring Boot Project - Part II</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Main
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize"><span th:text="${session.loggedInUser}"></span></b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="col-md-10 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <label style="font-size:30px" th:inline="text">Welcome <a
                            style="color:lightskyblue; text-transform:capitalize"><b><span th:text="${session.loggedInUser}"></span></b></a>
                        to the main page!</label>
                    <div style="font-size:20px">If you want to log out, click "Logout" button under this text.</div>
                </div>
            </form>


            <!-- Form for editing customer details -->
            <form th:action="@{/updateCustomer}" th:object="${customer}" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}" readonly required/>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required/>
                </div>

                <div class="form-group">
                    <label for="surname">Surname:</label>
                    <input type="text" class="form-control" id="surname" th:field="*{surname}" required/>
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone number:</label>
                    <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" required/>
                </div>

                <div class="form-group">
                    <label for="personalNumber">Personal number:</label>
                    <input type="text" class="form-control" id="personalNumber" th:field="*{personalNumber}" required/>
                </div>

                <div class="form-group">
                    <label for="street">Street:</label>
                    <input type="text" class="form-control" id="street" th:field="*{street}" required/>
                </div>
                <div class="form-group">
                    <label for="localNumber">Local number:</label>
                    <input type="text" class="form-control" id="localNumber" th:field="*{localNumber}" required/>
                </div>
                <div class="form-group">
                    <label for="postcode">Postcode:</label>
                    <input type="text" class="form-control" id="postcode" th:field="*{postcode}" required/>
                </div>

                <!-- Add similar fields for other customer details -->

                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>


            <form action="/logout" method="post">
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>

        </div>

    </div>

    <div th:if="${#lists.isEmpty(customer.transactions)}">
        <p>No transactions available for the logged-in user.</p>
    </div>

    <div class="container" th:unless="${#lists.isEmpty(customer.transactions)}">
        <div class="row">
            <div class="col-md-10 mt-5">
                <h2>Tickets Purchased by [[${customer.name}]] [[${customer.surname}]]</h2>
                <ul>
                    <li th:each="transaction : ${customer.transactions}">
                        Transaction ID: [[${transaction.transactionId}]], Date: [[${transaction.date}]]
                        <ul>
                            <li th:each="ticket : ${transaction.tickets}">
                                Ticket ID: [[${ticket.ticketId}]], Price: [[${ticket.price}]], Type: [[${ticket.type}]]
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>


<script>
    function setRegisteredFalse() {
        registered = false;
    }
</script>

</body>
</html>